:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 0 3rem;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    width: 100%;
}

.wrapper {
    display: grid;
    gap: 20px;
}

.main-nav ul {
    display: grid;
    gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav ul a {
    color: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    text-align: center;
}

.main-nav ul a:hover {
    background: var(--dark);
    color: var(--light);
}

.wrapper .top-container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(images/pexels-oleg-magni-2058128.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    box-shadow: var(--shadow);
    justify-items: center;
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

.boxes {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.boxes .box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.portfolio {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

footer {
    margin-top: 2rem;
    color: var(--light);
    text-align: center;
}

@media (max-width: 700px) {
    .wrapper .top-container {
        grid-template-areas: 
        'showcase showcase'
        'top-box-a top-box-b';

    }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .main-nav ul {
        grid-template-columns: 1fr;
    }

    .portfolio {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(30%, 2fr));
    }
}
